* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  padding: auto;
}

.container {
  width: 1200px;
  height: 100%;
  margin: auto;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../fonts/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold.eot");
  src: url("../fonts/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold.woff") format("woff"), url("../fonts/") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.active {
  color: #ff3f40;
}

.atop {
  color: #f6f2f1;
}

html {
  scroll-behavior: smooth;
}

.headline {
  font-family: 'Open Sans Bold', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

.tagline {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 20px;
}

.tagline_gray {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 20px;
  color: gray;
}

.regular {
  font-family: 'Open Sans Regular', sans-serif;
}

.regular_gray {
  font-family: 'Open Sans Regular', sans-serif;
  color: gray;
}

.atop {
  color: #f6f2f1;
}

.active {
  color: #ff3f40 !important;
}

.customary-button {
  display: inline-block;
  width: 190px;
  height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
  bottom: 0;
}

.customary-button_feedback {
  background: #ff3f40;
  color: #f6f2f1;
  line-height: 50px;
}

.customary-button_more {
  color: #ff3f40;
  border: 2px solid #ff3f40;
  line-height: 46px;
}

.anchor {
  position: absolute;
  margin-top: -80px;
}

.navbar {
  position: fixed;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 0%;
  left: 50%;
  width: 1200px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #312f30;
  z-index: 100000;
}

.navbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}

.navbar__logo_text {
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 25px;
  color: #f6f2f1;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  height: 80px;
}

.navbar__menu_menu-item {
  width: 80px;
  height: 80px;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 12px;
  line-height: 80px;
  color: #f6f2f1;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navbar__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 80px;
  padding: 0px 41px;
}

.navbar__lang_button {
  width: 28px;
  height: 30px;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #f6f2f1;
}

.is-active {
  background: #ff3f40;
}

.hero {
  min-width: 1200px;
  height: 600px;
  padding: 180px 0px 100px;
  background: #f6f2f1;
}

.hero__content_left {
  width: 600px;
  height: 320px;
  float: left;
  position: relative;
}

.hero__content_right {
  width: 600px;
  height: 320px;
  float: right;
}

.hero__slogan {
  font-family: 'Open Sans ExtraBold', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 50px;
  width: 600px;
}

.hero__text {
  margin: 20px 0px 20px;
}

.hero__hook {
  width: 480px;
  height: 320px;
  background: #313030;
  display: block;
  float: right;
}

.provide {
  height: 602px;
  padding: 100px 0px;
}

.provide__content_left {
  float: left;
  width: 600px;
  height: 400px;
}

.provide__content_right {
  float: right;
  width: 600px;
  height: 400px;
}

.provide__text {
  margin: 20px 0px 60px;
}

.provide__decor {
  display: block;
  width: 1100px;
  height: 3px;
  background: #f6f2f1;
  margin: 100px auto 0px;
}

.fourth {
  float: left;
  width: 300px;
  height: 200px;
}

.fourth__icon {
  width: 36px;
  height: 36px;
}

.projects {
  padding: 100px 0px 55px;
}

.projects__content {
  text-align: center;
}

.projects__headline {
  margin-bottom: 20px;
}

.projects__decor {
  display: block;
  width: 200px;
  height: 2px;
  background: #ff3f40;
  margin: 28px auto;
}

.stowage {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto 50px;
}

.stowage__button {
  width: 60px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.stowage-button.active {
  color: #ff3f40;
}

.catalog {
  font-size: 0px;
}

.tabcontent {
  display: none;
}

.project {
  display: inline-block;
  position: relative;
  width: 370px;
  height: 280px;
  margin-right: 45px;
  margin-bottom: 45px;
  background: #312f30;
  overflow: hidden;
}

.appear {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 280px;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 280px;
  text-transform: uppercase;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  z-index: 100;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.img {
  position: absolute;
  width: 370px;
  height: 280px;
  opacity: 1;
  -webkit-transition: opacity 500ms , -webkit-filter 500ms , -webkit-transform 500ms;
  transition: opacity 500ms , -webkit-filter 500ms , -webkit-transform 500ms;
  transition: opacity 500ms , filter 500ms , transform 500ms;
  transition: opacity 500ms , filter 500ms , transform 500ms , -webkit-filter 500ms , -webkit-transform 500ms;
}

.appear:hover {
  opacity: 1;
}

.appear:hover + .img {
  opacity: 0.4;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.project:nth-child(3n) {
  margin-right: 0px;
}

.clearfix {
  height: 0px;
  clear: both;
}

.upcontainer {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  overflow: auto;
}

.up {
  position: relative;
  width: 920px;
  height: 600px;
  background: white;
  margin: auto;
  padding: 100px 50px;
}

/* Modal Content */
/* The Close Button */
.close {
  color: #ff3f40;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff3f40;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ff3f40;
  font-weight: bold;
  font-size: 20px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.project {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mailing {
  min-width: 1200px;
  height: 400px;
  background-color: #f6f2f1;
  padding: 40px 0px;
}

.mailing__content {
  text-align: center;
}

.mailing__headline {
  margin: 40px 0px;
}

.form-subscribe {
  text-align: center;
}

.form-subscribe__required {
  width: 425px;
  height: 60px;
  background: white;
  border: 2px solid white;
  border-radius: 6px;
  margin: 40px 20px;
  padding: 20px;
}

.form-subscribe__submit {
  width: 125px;
  height: 60px;
  text-transform: uppercase;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 15px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #ff3f40;
  border-radius: 6px;
  background: #ff3f40;
  color: #f6f2f1;
  cursor: pointer;
}

.vault {
  background: #313030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.vault__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 0px 40px;
}

.link {
  height: 800px;
  padding: 100px 0px;
}

.link__content_left {
  float: left;
  width: 750px;
}

.link__content_right {
  float: right;
  width: 450px;
  vertical-align: bottom;
}

.link__text {
  margin: 40px 0px 0px;
}

.decor {
  width: 120px;
  height: 2px;
  background: #ff3f40;
  margin: 38px 0px;
}

.contact {
  background: #312f30;
  width: 440px;
  height: 420px;
}

.form-Feedback {
  width: 680px;
  height: 420px;
  text-align: justify;
}

.form-Feedback__required {
  width: 320px;
  height: 60px;
  background: #f6f2f1;
  padding: 20px;
  border: none;
  border-radius: 6px;
}

.form-Feedback__dop {
  width: 680px;
  height: 220px;
  padding: 20px;
  margin: 40px 0px;
  background: #f6f2f1;
  border: none;
  border-radius: 6px;
  resize: none;
  outline: none;
}

.form-Feedback__submit {
  width: 680px;
  height: 60px;
  text-transform: uppercase;
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 15px;
  line-height: 46px;
  text-align: center;
  border-radius: 6px;
  background: #ff3f40;
  color: #f6f2f1;
  cursor: pointer;
  border: 2px solid #ff3f40;
}

input {
  outline: none;
}
/*# sourceMappingURL=style.css.map */