body
    +regular

html
    scroll-behavior: smooth

.customary-button
        display: inline-block
        width: 190px
        height: 50px
        text-decoration: none
        text-transform: uppercase
        +semibold
        font-size: 15px
        line-height: 46px
        text-align: center
        border: 2px solid $key
        border-radius: 6px

.hero-button
        background: $key
        color: $light

.provide-button
    background: 
    color: $key
    margin-top: 80px


.anchor
    position: absolute
    margin-top: -80px