.header
    
.hero
    min-width: 1200px
    height: 600px
    padding: 180px 0px 100px
    background: $light

    &__content_left
        width: 600px
        height: 320px
        float: left

        position: relative
        
    &__content_right
        width: 600px
        height: 320px
        float: right
    


    &__slogan
        +extrabold
        text-transform: uppercase
        font-size: 50px
        line-height: 50px
        width: 600px

    &__text
        margin: 20px 0px 20px
        
    &__hook
        width: 480px
        height: 320px
        background: #313030
        display: block
        float: right