.link
    height: 800px
    padding: 100px 0px

    &__content_left
        float: left
        width: 750px
        
    &__content_right
        float: right
        width: 450px
        vertical-align: bottom

    &__headline
        //font-size: 35px
        //line-height: 35px
    
    &__text
        margin: 40px 0px 0px

.decor
    width: 120px
    height: 2px
    background: $key
    margin: 38px 0px

.contact
    background: $dark
    width: 440px
    height: 420px
    &-info

.form-Feedback
    width: 680px
    height: 420px
    text-align: justify
    
    &__required
        width: 320px
        height: 60px
        background: $light
        padding: 20px
        border: none
        border-radius: 6px
    
    &__dop
        width: 680px
        height: 220px
        padding: 20px
        margin: 40px 0px
        background: $light
        border: none
        border-radius: 6px
        resize: none
        outline: none
    
    &__dop:focus
    
    &__submit
        width: 680px
        height: 60px
        text-transform: uppercase
        +semibold
        font-size: 15px
        line-height: 46px
        text-align: center
        border-radius: 6px
        background: $key
        color: $light
        cursor: pointer
        border: 2px solid $key

input
    outline: none

//input[type=text]:focus
    //border: 2px solid $key