.link
    height: 800px
    padding: 100px 0px

    &__content_left
        float: left
        width: 750px
        height: 420px

    &__content_right
        float: right
        width: 450px
        height: 420px

    &__headline
        //font-size: 35px
        //line-height: 35px
    
    &__text
        margin: 20px 0px 0px
        

.decor
    width: 120px
    height: 2px
    background: $key
    margin: 38px 0px

.form-Feedback
    width: 680px
    height: 420px
    text-align: justify
    
    &__required
        width: 320px
        height: 60px
        background: $light
        border: none
        border-radius: 6px
        padding: 20px
    
    //&__required:focus
        border: 2px solid $light
        background: white
        padding: 20px 18px

    &__dop
        width: 680px
        height: 220px
        background: $light
        border: none
        border-radius: 6px
        padding: 20px
        margin: 40px 0px 36px
        resize: none
        outline: none
    
    //&__dop:focus
        border: 2px solid $dark
        background: $light
        padding: 18px 18px
    
    &__submit
        width: 680px
        height: 60px
        background: $key
        +semibold
        color: $light
        text-transform: uppercase
        font-size: 15px
        line-height: 60px
        text-align: center
        border: none
        border-radius: 6px
        cursor: pointer
        padding: 0px

input
    outline: none

.contact
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: space-between
    background: $dark
    padding: 120px 60px

    &__info
        margin-bottom: 15px
        user-select: none

//@media ( max-width: 680px )
    .link
        width: 680px
        height: 1600px
    
    .link__content_left
        float: none
        width: 600px
        height: 420px

    .link__content_left
        float: none
        width: 600px
        height: 420px
    
    .form-Feedback
        width: 600px
    
    .form-Feedback__required
        width: 260px

    .form-Feedback__dop
        width: 600px
    
    .form-Feedback__submit
        width: 600px