.navbar
    position: fixed
    z-index: 12
    transform: translate(-50%, -0)
    top: 0%
    left: 50%
    width: 1200px
    height: 80px
    display: flex
    justify-content: space-between
    background: $dark

    &__logo
        display: flex
        width: 170px
        height: 80px
        align-items: center
        padding-left: 40px

        &_text
            +bold
            font-size: 25px
            color: $light

    &__menu
        display: flex
        width: 320px
        height: 80px
    
        &_menu-item
            width: 80px
            height: 80px
            +bold
            font-size: 12px
            line-height: 80px
            color: $light
            text-transform: uppercase
            text-decoration: none
            text-align: center
            user-select: none
            //background: $key

    &__lang
        display: flex
        align-items: center
        width: 170px
        height: 80px
        padding: 0px 41px

        &_button
            display: block
            width: 30px
            height: 30px
            +extrabold
            font-size: 18px
            line-height: 30px
            text-transform: uppercase
            text-decoration: none
            text-align: center
            user-select: none
            //opacity: 0.5
            z-index: 1
            color: $light

.uk:hover
    background: url('/img/ukraine.png')
    background-repeat: repeat-x
    background-position: 0 0
    text-transform: uppercase
    text-align: center
    color: transparent
    -webkit-font-smoothing: antialiased
    -webkit-background-clip: text
    -moz-background-clip: text
    background-clip: text
    -webkit-text-fill-color: transparent
    background-size: cover

.ru:hover
    background: url('/img/russia.png')
    background-position: 0 0
    text-transform: uppercase
    text-align: center
    color: transparent
    -webkit-font-smoothing: antialiased
    -webkit-background-clip: text
    -moz-background-clip: text
    background-clip: text
    -webkit-text-fill-color: transparent
    background-size: cover

.in:hover
    background: url('/img/anguilla.png')
    background-position: 0 0
    text-transform: uppercase
    text-align: center
    color: transparent
    -webkit-font-smoothing: antialiased
    -webkit-background-clip: text
    -moz-background-clip: text
    background-clip: text
    -webkit-text-fill-color: transparent
    background-size: cover

.is-active
    background: $key