.navbar
    position: fixed
    transform: translate(-50%, -0)
    top: 0%
    left: 50%
    width: 1200px
    height: 80px
    display: flex
    justify-content: space-between
    background: $dark
    z-index: 100000

    &__logo
        display: flex
        width: 170px
        height: 80px
        align-items: center
        padding-left: 40px

        &_text
            +bold
            font-size: 25px
            color: $light

    &__menu
        display: flex
        width: 320px
        height: 80px
    
        &_menu-item
            width: 80px
            height: 80px
            +semibold
            font-size: 12px
            line-height: 80px
            color: $light
            text-transform: uppercase
            text-decoration: none
            text-align: center
            user-select: none
            //background: $key

    &__lang
        display: flex
        align-items: center
        width: 170px
        height: 80px
        padding: 0px 41px

        &_button
            width: 28px
            height: 30px
            +bold
            font-size: 18px
            line-height: 30px
            text-transform: uppercase
            text-decoration: none
            text-align: center
            user-select: none
            color: $light
            //opacity: 0.5

.is-active
    background: $key