.provide
    height: 600px
    padding: 100px 0px

.cont-provide
    float: left
    width: 600px
    height: 400px
    //background: $key

.fourth
    float: left
    //background: $key
    width: 300px
    height: 200px

    &-icon
        width: 36px
        height: 36px

    &-headline
        +semibold
        font-size: 20px
