.provide
    height: 602px
    padding: 100px 0px

    &__content_left
        float: left
        width: 600px
        height: 400px
        //background: $key
        position: relative
        
    &__content_right
        float: right
        width: 600px
        height: 400px

    
    &__text
        margin: 20px 0px 25px
    
    &__decor
        display: block
        width: 1100px
        height: 3px
        background: $light
        margin: 100px auto 0px


.fourth
    float: left
    width: 300px
    height: 200px

    &__icon
        width: 36px
        height: 36px
        filter:  saturate(3)

    &__headline
    
    &__text
        
    