.vault
    background: #313030
    display: flex
    justify-content: space-between
    align-items: center
    height: 80px

    &-reserved
        color: $light
        
        display: flex
        align-items: center
        height: 80px
        padding: 0px 40px